footer{
    .twoB__footer{
        background-color: black;
        &-text{
            h2{
                color: #FCDB00;
                text-align: center;
                font-size: 32px;
                font-weight: bold;
                padding-top: 25px;
            }
            p{
                font-size: 20px;
                color: #898989;
                text-align: center;
                width: 90%;
                margin: 25px auto;
            }
        }
        &-newsletter{
            margin: 50px 10px;
            display: flex;
            #twoB__footer-newsletter-item{
                color: white;
                background-color: white;
                margin: 0 auto;
                display: flex;
                padding: 15px;
                border-radius: 5px;
                font-size: 16px;
                color: #898989;
                width: 100%;
            }
            button{
                padding: 10px;
                color: black;
                background-color: #FCDB00;
                font-weight: bold;
                font-size: 16px;
                width: 126px;
                height: 50px;
                border-radius: 5px;
                position: absolute;
                right: 0;
                margin-right: 10px;
                cursor: pointer;
            }
        }
        &-social{
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            img{
                margin-right: 33px;
            }
        }
        &-items{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            margin: 0 auto;
            padding-bottom: 50px;
            &--address{
                margin: 0 auto;
                p{
                    color: white;
                }
            }
            &--item{
                display: flex;
                flex-wrap: wrap;             
                &--list{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 36px;
                    padding: 0px 40px;
                    line-height: 20px;
                    a{
                        color: white;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (min-width:800px){
    footer{
        .twoB__footer{
            &-text{
                p{
                    width: 55%;
                }
            }
            &-newsletter{
                width: 60%;
                margin: 50px auto;
                #twoB__footer-newsletter-item{
                    width: 100%;
                }
                button{
                    position: initial;
                    right: initial;
                    margin-left: 20px;
                }
            }
            &-social{
                margin-bottom: 125px;
            }
            &-items{
                flex-direction: initial;
                width: initial;
                justify-content: center;
                padding-bottom: 90px;
                &--address{
                    margin: 0;
                    margin-right: 50px;
                }
                &--item{
                    flex-wrap: initial;
                    &--list{
                        margin-top: 0px;
                    }
                }
            }            
        }
    }
    
}