main{
    .twoB__carousel{
        background-color: #FCDB00;
        padding: 0px 8px;
        .slick-dots{
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
            padding-top: 10px;
            .slick-active{
                opacity: 1;
            }
            li{
                background-color: white;
                width: 14px;
                height: 14px;
                border-radius: 100%;
                margin: 0 7px;
                opacity: 0.5;
                button{
                    font-size: 0px;
                }
            }
        }

        &-info{
            margin: 10px;
            h2{
                font-size: 32px;
                font-weight: bold;
                color: #010101;
                margin-bottom: 15px;
                white-space: nowrap;
                max-width: 400px;
            }
            h3{
                font-size: 20px;
                color: #313841;
                margin-bottom: 15px;
                max-width: 400px;
            }
            h4{
                font-size: 16px;
                color: #555555;
                margin-bottom: 15px;
                max-width: 400px;
            }
            &--items{
                display: flex;
                justify-content: center;
                &--item{
                    &:nth-child(1){
                        display: block;
                        background-repeat: no-repeat;
                        width: 33px;
                        height: 42px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='42' viewBox='0 0 33 42'%3E%3Ctext id='_' data-name='' transform='translate(0 36)' fill='%23010101' font-size='42' font-family='FontAwesome'%3E%3Ctspan x='0' y='0'%3E%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
                    }
                    &:nth-child(2){
                        margin: 0px 38px;
                        display: block;
                        background-repeat: no-repeat;
                        width: 33px;
                        height: 42px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='42' viewBox='0 0 33 42'%3E%3Ctext id='_' data-name='' transform='translate(0 36)' fill='%23010101' font-size='42' font-family='FontAwesome'%3E%3Ctspan x='0' y='0'%3E%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
                    }
                    &:nth-child(3){
                        display: block;
                        background-repeat: no-repeat;
                        width: 39px;
                        height: 42px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='42' viewBox='0 0 39 42'%3E%3Ctext id='_' data-name='' transform='translate(0 36)' fill='%23010101' font-size='42' font-family='FontAwesome'%3E%3Ctspan x='0' y='0'%3E%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
                    }
                }
            }
        } 
        &-banner{
            display: flex;
            justify-content: center;
            padding-top: 35px;
            padding-bottom: 23px;
            padding-right: 20px;
            padding-left: 20px;
            img{
                width: 300px;
            }
        }
    }
    .twoB__content{
        &-text{
            h2{
                color: #010101;
                font-size: 32px;
                text-align: center;          
                font-weight: bold;
                margin-top: 25px;
                margin-bottom: 40px;
            }
            p{
                text-align: center;
                margin: 0 15px;
                font-size: 20px;
                color: #313841;
            }
        }
        &-items{
            padding: 0 50px;
            padding-bottom: 131px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            &--item{
                display: flex;
                justify-content: space-between;
                max-width: 330px;
                margin-top: 50px;
                margin-left: 10px;
                margin-right: 10px;
                &--image{
                    margin: 0 auto;
                }
                &--text{
                    width: 75%;
                    padding-left: 15px;
                    h3{
                        font-size: 22px;
                        color: #010101;
                        white-space: nowrap;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width:340px){
    main{
        .twoB__carousel{
            &-info{
                h2{
                    white-space: normal;
                }
            }
        }
    }
}
@media (min-width:800px){
    main{
        .twoB__carousel{
            padding: 0px 15px;
            padding-bottom: 40px;
            .slick-dots{
                margin-top: 30px;
            }
            &-center{
                display: flex!important;
                justify-content: center;
            }
            &-info{
                align-self: center;
                width: 65%;
                padding-right: 75px;
                &--items{
                    margin-top: 31px;
                    justify-content: start;
                }
            }
        }
        .twoB__content{
            &-text{
                h2{
                    margin-top: 108px;
                }
                p{
                    width: 80%;
                    margin: 0px auto;
                }
            }
            &-items{
                &--item{
                    &--text{
                        padding-left: 8px;
                        p{
                            width: 60%;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:1210px){
    main{
        .twoB__content{
            &-text{
                p{
                    width: 52%;
                    margin: 0px auto;
                }
            }
            &-items{
                margin-top: 50px;
                &--item{
                    max-width: 30%;
                }
            }
        }
    }
}
